# Global code owners for this repository.
* @Alex-Tideman @JasonSteving99 @long-nt-tran @JoshuaFrenchwood

/temporal_agent_harness/ @JasonSteving99
/ui/ @Alex-Tideman @shphrd
/nexus/ @long-nt-tran @JoshuaFrenchwood
