# Global code owners for this repository.
* @Alex-Tideman @JasonSteving99 @donald-pinckney @long-nt-tran @JoshuaFrenchwood

/temporal_agent_harness/ @JasonSteving99 @donald-pinckney
/ui/ @Alex-Tideman
/nexus/ @long-nt-tran @JoshuaFrenchwood
